<!DOCTYPE html>
<html>
    <head>
<style>
 .white_content {
  
  display: block;
  position: absolute;
  top: 10%;
  left: 25%;
  /* width: 30%;
  height: 60%; */
  padding: 16px;
  overflow: hidden;
  background-color: white;
  border: 1px solid black;
  overflow: auto;
}

.white_content  img{
    height: 90%;
}


</style>
    </head>
    <body>
        <div id="light" class="white_content">
           <center><img src="https://cdn.dribbble.com/users/673428/screenshots/6256511/chatbot-kiu.gif"></center> 
        </div> 

 <a href="http://127.0.0.1:5000/">Back </a>

    </body>
</html>